<img class="background" src="/GOBOARD.jpg" alt="go board"/>
<link rel="stylesheet" type="text/css" href="/style.css">
<a class="a" href="https://ttsaihuiyu.github.io/go-board-final-project.github.io/MENU/選單.html">進入選單</a>
<h1>Hi <%= name %></h1>
